body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; 
  margin: 0;
  padding: 0;
  max-height: 140vh!important;
  width: 100%;
  font-family: 'Be Vietnam', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none!important;
  color: black;
}

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: black;
  background-color: white;
}

.edit-button {
  background-color: #ededed!important;
  border-color: #ededed;
  color: black!important;
  margin-right: 10px;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 11.5px;
  letter-spacing: 1.1px;
  font-weight: bold;
  padding: 12px 15px 12px 15px;
}

.edit-button:hover {
  background-color: white!important;
  border-color: white;
  color: black!important;
}

.delete-button {
  background-color: black!important;
  border-color: black;
  color: white!important;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.3px;
  font-weight: bold;
  padding: 12px 15px 12px 15px;
}

.delete-button:hover {
  background-color: white!important;
  border-color: white;
  color: black!important;
}

.woman-signup-button {
    background-color: black!important;
    border-color: black;
    color: white;
    padding-left: 60px;
  padding-right: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
}

.woman-signup-button:hover {
  background-color: white!important;
  border-color: white;
  color: black!important;
}

.man-signup-button {
  background-color: black!important;
  border-color: black;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bold;
}

.man-signup-button:hover {
background-color: white!important;
border-color: white;
color: black!important;
}

.zoom {
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.08);
}

.rockstar:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main-signup-body {
      height: 73vh!important;
     }

     .home-body-container {
      height: 73vh!important;
     }

     .female-individual-img {
       width: 30vw!important;
     }

     .male-individual-img {
      width: 30vw!important;
    }
}


