body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Be Vietnam', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: black;
  background-color: white;
}

.edit-button {
  background-color: #802139!important;
  border-color: #802139;
  color: white;
  margin-right: 10px;
}

.edit-button:hover {
  background-color: #802139!important;
}

.delete-button {
  background-color: #802139!important;
  border-color: #802139;
  color: white;
}

.delete-button:hover {
  background-color: #802139!important;
}

.woman-signup-button {
    background-color: #802139!important;
    border-color: #802139;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.woman-signup-button:hover {
  background-color: #802139!important;
  border-color: #802139;
}

.man-signup-button {
  background-color: #802139!important;
  border-color: #802139;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.man-signup-button:hover {
background-color: #802139!important;
border-color: #802139;
}

.zoom {
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}


.rockstar:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


